.todo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: linear-gradient(rgb(2, 255, 255), rgb(0, 204, 255)); */
}


.todo-component{
    background-color: rgb(255, 255, 255);
    display: flex;
    padding-top: 40px;
    
}

.name{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 40px;
}



.input{
    margin-top: 2vh;
    margin-bottom: 30px;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.TextField{
    width: 60vw;
}

.popUpBox{
    
    position: absolute;
    top:10vh;
    right: 3vw;
    height: 30vh;
    width: 13vw;
    background-color: rgba(59, 255, 180, 0.26);
    border-radius: 10px;
}
.signout_button{
    
    position: relative;
    top: 21vh;
    left: 2.5vw;
    height: 7vh;
    width: 8vw;
    border-radius: 10px;
}